.header {
  display: flex;
  background-color: #4d88ff;

  .header__container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
    }
    :hover {
      text-decoration: underline;
    }
  }
}