.allUsersPage__userCards {
  display: grid;
  grid-template-rows: 250px 250px 250px 250px;
  grid-template-columns: 330px 330px 330px;
  grid-gap: 20px;

  @media (max-width: 1080px) {
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-columns: 330px 330px;
    grid-gap: 20px;
  }

  @media (max-width: 767px) {
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-columns: 330px;
    grid-gap: 20px;
  }
}
